
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-x:hidden;
}

#header {
    z-index: 2;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:#323232;
    padding:2vh;
    margin: 0px;
    -webkit-backface-visibility: hidden;
}

#title img{
    height: 5vh;
    border:0;
}
#titleREST{
    height: 5vh;
    border: 0;
}

#title{
    float: left;
    padding-left: 1vw;
}

#title-wrapper{
    margin-left: 5vw;
    display:block;
    position:relative;
}

img{
    padding:0;
    margin:0;
}

.titleI{
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
}
.titleD{
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
}
.titleNEYDURANT{
    float: left;Z
    padding-left:0px;
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
}

.logoI{
    transform: scaleX(2.5) scaleY(0.5) rotate(90deg) translateX(2px);
    -webkit-transform: scaleX(2.5) scaleY(0.5) rotate(90deg) translateX(2px);
    -ms-transform: scaleX(2.5) scaleY(0.5) rotate(90deg) translateX(2px);
}
.logoD{
    transform: translateX(-11px);
    -webkit-transform: translateX(-11px);
    -ms-transform: translateX(-11px);
}

.logoNEYDURANT{
    float: left;
    padding-left:0px;
    transform: translateY(-15vh);
    -webkit-transform: translateY(-15vh);
    -ms-transform: translateY(-15vh);
}

.content{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#home{
    background-color: #ffffff;
    height: 91vh;
    display: block;
}
#projects{
    background-color: #f2e8d6;
    padding: 10vh 20vw 10vh 20vw;
}
#skillset{
    background-color: #ffffff;
    padding: 10vh 20vw 10vh 20vw;
}
#interests{
    background-color: #f2e8d6;
    padding: 10vh 20vw 10vh 20vw;
}
#contact{
    background-color: #323232;
    color: #ffffff;
    padding: 10vh 20vw 10vh 20vw;
}

p{
    text-indent: 40px;
    font-family: "Open Sans";
}

.content > h1{
    text-align:center;
    font-family: "Helvetica Neue Light", "Open Sans light", sans-serif;
    font-weight: lighter;
    font-size: 10vh;
    padding-top: 17vh;
}

#navbar-wrapper {
    width: 100px;
    position: absolute;
    top: 92vh;
    background-color: #323232;
    -webkit-backface-visibility: hidden;
    cursor:pointer;
}

.button{
    text-align: center;
    font-family: Arial;
    font-weight: lighter;
    display:block;
    font-size: 14px;
    padding: 20px 5px 20px 5px;
}

#homeButton{
    border-bottom-width:2px;
    border-bottom-style: solid;
    border-bottom-color:#ffffff;
}

#homeButton h2{
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -ms-transition: transform .25s;
}

.flipped{
    transform: scale(-1);
}

#navbar {
    width: 100px;
    background-color: #323232;
    color: #ffffff;
    padding: 0px;
    -webkit-backface-visibility: hidden;
}




