
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-x:hidden;
    font-family: "Open Sans light", "Helvetica Neue Light", sans-serif;
    font-size:16px;
}

a{
    color: #ffffff;
    text-decoration:none;
    transition: padding .25s;
    -webkit-transition: padding .25s;
    -moz-transition: padding .25s;
    -o-transition: padding .25s;

}

img{
    padding:0;
    margin:0;
    border:0;
}

li{
    padding-left:10px;
    padding-right:10px;
    list-style-type: none
}


p{
    text-indent: 40px;
    font-size: 16px;
}

.transparent{
    opacity: 0;
}

.flipped{
    transform: scale(-1);
}

#header {
    z-index: 2;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color:#323232;
    padding:2vh;
    margin: 0px;
    -webkit-backface-visibility: hidden;
}

#header img{
    height: 5vh;
    margin:0;
    padding: 0;
}

#title{
    display:block;
    position:relative;
    margin: 0;
}

.contactlistlink:hover a{
    padding-right: 10px;
}
.contactlistlink{
    cursor: pointer;
}

.titleI{
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
}
.titleD{
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
}
.titleNEYDURANT{
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -o-transition: transform .25s;
}

.logoI{
    transform: scaleX(2.5) scaleY(0.5) rotate(90deg) translateX(2px);
    -webkit-transform: scaleX(2.5) scaleY(0.5) rotate(90deg) translateX(2px);
    -ms-transform: scaleX(2.5) scaleY(0.5) rotate(90deg) translateX(2px);
}
.logoD{
    transform: translateX(-11px);
    -webkit-transform: translateX(-11px);
    -ms-transform: translateX(-11px);
}

.logoNEYDURANT{
    transform: translateY(-15vh);
    -webkit-transform: translateY(-15vh);
    -ms-transform: translateY(-15vh);
}

#navbar-wrapper {
    width: 100px;
    position: absolute;
    top: 90vh;
    background-color: #323232;
    -webkit-backface-visibility: hidden;
    cursor:pointer;
}

#navbar {
    width: 100px;
    background-color: #323232;
    color: #ffffff;
    padding: 0px;
    -webkit-backface-visibility: hidden;
}

.button{
    text-align: center;
    font-family: Arial;
    font-weight: lighter;
    display:block;
    padding: 20px 5px 20px 5px;
}

#homeButton{
    border-bottom-width:2px;
    border-bottom-style: solid;
    border-bottom-color:#ffffff;
}

#homeButton h2{
    transition: transform .25s;
    -webkit-transition: transform .25s;
    -ms-transition: transform .25s;
}

.content{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.content > h1{
    text-align:center;
    font-weight: lighter;
    font-size: 10vh;
    padding-top: 17vh;
}
.content > h2{
    text-align:center;
    font-weight: lighter;
    font-size: 6vh;
    margin-top: 0px;
}

#home{
    background-color: #ffffff;
    height: 91vh;
    display: block;
}
#about{
    background-color: #f8eeda;
    padding: 10vh 20vw 13vh 20vw;
}
#skillset{
    background-color: #ffffff;
    padding: 10vh 20vw 13vh 20vw;
}
#projects{
    background-color: #f8eeda;
    padding: 10vh 20vw 13vh 20vw;
}
#projects h2{
    margin-bottom: 0px;
}
#contact{
    background-color: #323232;
    color: #ffffff;
    padding: 10vh 30vw 10vh 30vw;
}

li span:last-child {
    float: right;
}

#skilllist li{
    padding-top: 2px;
    padding-bottom: 3px;
}
#skilllist li:hover{
    background-color:#f8eeda; /*f2e8d6 old*/
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 1px;
}

.skill-score img{
    height: 16px;
    padding-top: 2px;
}

#skilllist li:hover .skill-score img{
    height: 17px;
    padding-top: 1px;
}

.project{
    background-color: #ffffff;
    padding: 10vh 25vw 0px 25vw;
}

.project-info{
    background-color: #f8eeda;
    padding: 5vh 20vw 5vh 20vw;
    margin: 0;
}

.project-image{
    width: 50vw;
    margin-bottom: 0;
    position:absolute;
}

.projecthome-image{
    width: 50vw;
    margin-bottom: 0px;
    position:absolute;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity  .5s;
}

#samplifyresults-image{
    width: 20vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

#samplify-image{
    width: 20vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

